---
import BaseLayout from "../../layout/BaseLayout.astro";
import { getTagSlug, getTagDisplay } from "../../utils/ids";
import { getRecipies, getRelatedRecipies } from "../../utils/recipies";   
import type { CollectionEntry } from 'astro:content'; 
import { render } from "astro:content";
import RecipeToc from "../../components/recipe_toc.astro"; 
import RecipeImage from "../../components/recipe_image.astro";
import RecipeCard from "../../components/recipe_card.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const recipies = await getRecipies();

  const paths =  recipies.map(entry => ({
    params: { id: entry.id }, props: { entry },
  }));

  return paths;
}

const { entry } = Astro.props;
type Props = {
  entry: CollectionEntry<'recipies'>;
};
const { Content } = await render(entry);

let relatedRecipies = await getRelatedRecipies(entry);

console.log(relatedRecipies.length)
---
<BaseLayout pageTitle={entry.data.title} description={entry.data.description} category="recipies" >

  <p class="text-sm text-gray-500 hover:text-gray-700 pb-8">
    <a href="/recipies">← Back to all recipies </a>
  </p>

  <RecipeCard recipe={entry} />

  <article class="prose lg:prose-xl max-w-prose article">
  

    <!-- <div class="pt-4">
      <ElevenLabsAudioNative 
      client:only="react" 
      publicUserId="35dce06c47f602962978963a788374c31ce9d25a7764e80220eae64f51bfc6f3" 
      projectId={entry.data.audio}/>
    </div> -->

  <!-- {entry.data.image && <PostImage post={entry} />} -->
  <div class="content">
      <Content />

  </div>
  </article>
  <div class="container mx-auto">
    {relatedRecipies.length > 0 && <>
      <h2 class="text-2xl font-bold text-gray-900  text-center border-t-gray-200 border-t-2 mt-0 py-16">Related Recipies</h2>
      {relatedRecipies.map((recipe,index) => (

 <h2 class="text-2xl italic font-light py-8">{recipe.data.section.join(', ')}</h2>
        <RecipeCard recipe={recipe} reverse={index % 2 === 1} />   
      ))}
    </>
  }
  </div>


</div>

</BaseLayout>

