---
import PostImage from "../post-image.astro"; 
import Card from "./card.astro";
import { getPostLink, getTagSlug, getTagDisplay } from "../../utils/ids";
import { formatDate } from "../../utils/date";
const {post} = Astro.props;

const postLink =    getPostLink(post);
const formattedPublishDate = formatDate(post.data.date);

---

<Card>
    <div slot="header" class="group">
        <h2 class="text-2xl font-bold pb-2 text-ellipsis truncate text-ink">
            <div class="hidden group-hover:block absolute bg-white text-black">{post.data.published ? "" : "[DRAFT] "}{post.data.title || post.id}</div>
            <a href={postLink}>{post.data.published ? "" : "[DRAFT] "}{post.data.title || post.id}</a>
        </h2>
        <div class="flex place-items-baseline justify-between">
            <ul class="flex flex-row flex-wrap gap-2">
                {post.data.tags?.map((tag) => <li class="px-1 py-0 text-sm"><a href={getTagSlug(tag)}>{getTagDisplay(tag)}</a></li>)}
            </ul>
            <p class="lg:flex flex-col md:flex-row flex-wrap gap-2"> 
                <a class="text-sm hover:underline italic" href="mailto:wschenk@thefocus.ai">Will Schenk</a> 
                <span class="text-sm ">{formattedPublishDate}</span> 
            </p>
        </div>
    </div>
    {post.data.image && <a href={postLink} slot="image"><PostImage post={post} /></a>}
    <p class="text-lg font-bold text-gray-500 py-4 leading-snug"><a href={postLink}>{post.data.description}</a></p>
    <a slot="footer" href={postLink} class="flex items-center gap-1">Read more <span class="text-lg">→</span></a>
</Card>