---
import BaseLayout from "../layout/BaseLayout.astro";
import CarouselUsecase from "../components/carousel/carousel-use-case.astro";
import { getLearnings } from "../utils/learnings";
import { getCaseStudies } from "../utils/case-studies";
import RelatedCaseStudy from "../components/related/related-case-study.astro";  
import HomepageTOC from "../components/homepage_toc.astro";
const learnings = await getLearnings();
const case_studies = await getCaseStudies();
---

<BaseLayout
  pageTitle="The Focus.ai"
  bigHeader={true}
  description="We help you focus"
  showOrganizationSchema={true}
>
  <section slot="hero">
    <CarouselUsecase />
  </section>

  <h2 class="md:text-right text-4xl sm:text-7xl font-bold">
    We&#39;re an AI digital transformation agency, dedicated to saving you time
    and money through cutting-edge AI technology, strategic planning, and
    seamless implementation.

    <br />We help you focus<span class="text-orange-500">.</span>
  </h2>

  <div class="pt-24 sm:pt-48 flex flex-col-reverse sm:flex-row gap-12 font-fraunces">
    <div class="flex-1">
      <div class="flex items-center mb-8">
        <h2 class="text-3xl font-bold">Learnings</h2>
        <span class="text-orange-500 text-3xl ml-1">.</span>
      </div>

      <div class="space-y-12">
        {
          learnings
            .slice(0, 3)
            .map((learning) => <HomepageTOC learning={learning} />)
        }
      </div>

	  <a href="/learnings" class="inline-block mt-8 border-b border-black pb-1 hover:border-orange-500 hover:text-orange-500 transition-colors">VIEW ALL LEARNINGS</a>
    </div>
    <div class="flex-1">
      <div class="flex items-center mb-8 font-fraunces">
        <h2 class="text-3xl font-bold">Case Studies</h2>
        <span class="text-orange-500 text-3xl ml-1">.</span>
      </div>

      <div class="space-y-12">
        {
          case_studies
            .slice(0, 3)
            .map((case_study) => <RelatedCaseStudy case_study={case_study} image={true}/>)
        }
      </div>

	  <a href="/case-studies" class="inline-block mt-8 border-b border-black pb-1 hover:border-orange-500 hover:text-orange-500 transition-colors">VIEW ALL CASE STUDIES</a>
    </div>
  </div>
</BaseLayout>
