---
import PostImage from "./postimage.astro";
import Card from "./card.astro";
import { getSlug, getTagSlug, getPostLink, getTagDisplay } from "../utils/posts";
const {post} = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const postLink = getPostLink(post);
const formattedPublishDate = new Date(post.data.date).toLocaleDateString("en-US", dateOptions);

---

<Card>
    <div slot="header">
        <h2 class="text-2xl font-bold pb-2"><a href={postLink}>{post.data.published ? "" : "[DRAFT] "}{post.data.title || post.id}</a></h2>
        <div class="flex place-items-baseline justify-between">
            <ul class="flex flex-row flex-wrap gap-2">
                {post.data.tags?.map((tag) => <li class="px-1 py-0 text-sm"><a href={getTagSlug(tag)}>{getTagDisplay(tag)}</a></li>)}
            </ul>
            <p class="lg:flex flex-col md:flex-row flex-wrap gap-2"> 
                <a class="text-sm hover:underline italic" href="mailto:wschenk@thefocus.ai">Will Schenk</a> 
                <span class="text-sm ">{formattedPublishDate}</span> 
            </p>
        </div>
    </div>
    {post.data.image && <a href={postLink} slot="image"><PostImage post={post} /></a>}
    <p class="text-lg leading-relaxed"><a href={postLink}>{post.data.description}</a></p>
    <a slot="footer" href={postLink} class="flex items-center gap-1">Read more <span class="text-lg">→</span></a>
</Card>