---
import '@fontsource-variable/dm-sans';
// import '@fontsource-variable/noto-serif';
import '@fontsource/noto-serif/300.css';
import '@fontsource/noto-serif/400.css';
import '@fontsource/noto-serif/500.css';
import '@fontsource/iosevka-etoile';
  import '../fonts/bembo.css';
import EmailSignup from "../components/email-signup.astro";
import OrganizationSchema from "../components/schemas/organization.astro";
import WebsiteSchema from "../components/schemas/website.astro";
import NewsletterSchema from "../components/schemas/newsletter.astro";
import { SEO } from "astro-seo";
// import { getImagePath } from "astro-opengraph-images";

const pageTitle = Astro.props.pageTitle || "the focus.ai";
const bigHeader = Astro.props.bigHeader || false;
const showOrganizationSchema = Astro.props.showOrganizationSchema || false;

const description = Astro.props.description || "Come a visit us";
const { url, site } = Astro;
const openGraphImageUrl = `${site}${Astro.props.openGraphImage || `/og.png`}`;
// getImagePath({ url, site });

let category = Astro.props.category || "home";
if(Astro.url.pathname.includes("/posts/about")) {
  category = "about";
}
---
<!DOCTYPE html>
<html lang="en" data-theme="light" class="antialiased subpixel-antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <SEO
      title={pageTitle}
      description={description}
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: openGraphImageUrl
        },
        optional: {
          description: description,
        }
      }}
      twitter={{
        creator: "@wschenk"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: openGraphImageUrl,
          },
          { name: "twitter:title", content: pageTitle },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <link
    rel="alternate"
    type="application/rss+xml"
    title="The Focus AI"
    href={new URL("rss.xml", Astro.site)}
/>
<script defer data-domain="thefocus.ai" src="https://plausible.io/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Always include Website schema on all pages -->
    <WebsiteSchema />
    
    <!-- Conditionally include Organization schema -->
    {showOrganizationSchema && (
      <OrganizationSchema />
      
    )}

    <NewsletterSchema url="https://newsletter.thefocus.ai/"/>
    
    <!-- Other head elements -->
    <slot name="head" />
  </head>
  <body class="bg-gray-100">
    <header
      class:list={[
        "p-2 md:px-4 md:py-8 md:flex justify-between items-top md:container mx-auto sm:max-w-screen-lg ",
        bigHeader ? "sm:px-8" : ""
      ]}
    >
      <nav class="space-x-4 text-gray-700">
        <ul class="flex md:block gap-2 pb-4 sm:text-lg md:text-base justify-between md:uppercase">
          <li><a href="/" class:list={[category === "home" ? "underline hover:underline" : "" ]}>Home</a></li>
          <li>
            <a href="/learnings" class:list={[(category === "blog"  || category === "recipes") ? "underline hover:underline" : ""]}>Learnings</a>
          </li>
          <li>
            <a href="/case-studies" class:list={[category === "case-studies" ? "underline hover:underline" : ""]}>Case Studies</a>
          </li>
          <li>
            <a href="mailto:hey@thefocus.ai" class="hover:underline">Contact</a>
          </li>
          <li><a href="/posts/about" class:list={[category === "about" ? "underline hover:underline" : ""]}>About Us</a></li>
        </ul>
      </nav>
      <div>
        <h1 class:list={[
          "mt-0 pt-0 text-7xl leading-[.75] text-black",
          bigHeader ? "md:text-[200px]" : "md:text-[100px]"
        ]}>
          FOCUS<span class="text-orange-500">.</span>{bigHeader ? <br /> : ""}AI
        </h1>
        <p class="text-right hidden md:block">FOCUS.AI.AGENCY</p>
        <p class="md:text-right">EST. 24</p>
      </div>
    </header>

    <slot name="hero"/>


    <main class="w-full">
        
      <section class:list={[
          "container mx-auto py-4 px-2 sm:max-w-screen-lg",
          bigHeader ? "sm:py-12" : ""
        ]}>
        <slot/>
      </section>

      <EmailSignup />

      <section class="bg-gray-900 text-gray-300 px-2">
        <div class="flex justify-between p-4 text-gray-600 text-sm">
          <p>What we offer</p>
          <p>2024</p>
        </div>
        <div class="border-t border-gray-600 py-8 px-2">
          <div class="flex container mx-auto">
            <div class="text-sm pr-12 sm:pr-24 mt-2 text-gray-400">01.</div>
            <div class="text-4xl">
              AI DIGITAL TRANSFORMATION USING BEST IN CLASS AI
            </div>
          </div>
        </div>
        <div class="border-t border-gray-600 py-8">
          <div class="flex container mx-auto">
            <div class="text-sm pr-12 sm:pr-24 mt-2 text-gray-400">02.</div>
            <div class="text-4xl">PRODUCT DESIGN AND ENGINEERING</div>
          </div>
        </div>
        <div class="border-t border-gray-600 py-8">
          <div class="flex container mx-auto">
            <div class="text-sm pr-12 sm:pr-24 mt-2 text-gray-400">03.</div>
            <div class="text-4xl">
              MODELING AND DATA INTERPRETATION FOR AI TUNING
            </div>
          </div>
        </div>
        <div class="border-t border-gray-600 py-8">
          <div class="flex container mx-auto">
            <div class="text-sm pr-12 sm:pr-24 mt-2 text-gray-400">04.</div>
            <div class="text-4xl">UPDATING OLD MOBILE AND WEB APPS FOR AI</div>
          </div>
        </div>
      </section>
      <section class="py-32">
        <h2 class="text-4xl text-center">
          <a class="underline" href="mailto:hey@thefocus.ai">CONTACT US</a> TO
          GET STARTED.
        </h2>
      </section>
    </main>

    <footer class="container mx-auto flex flex-col md:flex-row w-full text-center md:text-left justify-between py-8">
      <p class="text-4xl mt-2">FOCUS.AI</p>
      <nav class="mt-4 space-x-4">
        <a href="/" class="text-gray-600 hover:underline">HOME</a>
        <a href="/blog" class="text-gray-600 hover:underline">BLOG</a>
        <a href="/recipes" class="text-gray-600 hover:underline">RECIPES</a>
        <a href="/case-studies" class="text-gray-600 hover:underline">CASE STUDIES</a>
        <a href="/learnings" class="text-gray-600 hover:underline">LEARNINGS</a>
        <a href="https://www.linkedin.com/in/will-schenk-420266/" class="text-gray-600 hover:underline">LINKEDIN</a>
        <a href="https://github.com/The-Focus-AI" class="text-gray-600 hover:underline">GITHUB</a>
        <a href="mailto:hey@thefocus.ai" class="text-gray-600 hover:underline"
          >HEY@THEFOCUS.AI</a
        >
      </nav>
    </footer>
  </body>
</html>
